.App {
  /* text-align: center; */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.recharts-cartesian-axis-tick {    
  font-size: 12px;
  /* font-family: Roboto, sans-serif; */
}

.recharts-cartesian-axis-line,
.recharts-cartesian-axis-tick-line {
  stroke: #ddd;
}

.recharts-cartesian-axis-tick-value {
 fill: #aaa;
}

.recharts-legend-item-text {
  color: #757575;
}